*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(#009788 15vh, #d6dbd5 15vh);
}

.chat-container{
    margin: 30px;
    max-width: 100%;
    height: calc(100vh - 60px);
}

/*****
 SIDEBAR 
 *****/

.sidebar{
    height: 100%;
    background-color: rgb(210, 210, 209);
    width: 30%;
    border-right: 1px solid grey;
}

.user{
    height: 80px;
    background-color: rgb(199, 197, 197);
}

.bell{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.chat-thumbs{
    background-color: white;
    overflow-y: auto;
    height: calc(100% - 240px);
}

/*****
 PARTE CENTRALE
 *****/

 .central-content{
    height: 100%;
    width: 70%;
    background-color: rgb(199, 197, 197);
 }

/* CHAT IN CORSO */

.chat-content{
    background-image: url('../img/mine.jpg');
    height: calc(100% - 160px);
    overflow-y: auto;
}

.sent-message{
    width: 40%;
    background-color: #d5f9bb;
    border-radius: 15px;
    margin: 10px 5px;
    padding: 7px;
    word-wrap: break-word;
    float: right;
    clear: both;
    position: relative;
}

.received-message{
    width: 40%;
    background-color: white;
    border-radius: 15px;
    margin: 10px 5px;
    padding: 7px;
    word-wrap: break-word;
    float: left;
    clear: both;
    position: relative;
}

/* BARRA PER MESSAGGI */

.message-bar{
    height: 80px;
    background-color: rgb(210, 210, 209);
}

/*****
 UTILITY 
 *****/

img{
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

i{
    cursor: pointer;
}

.active{
    background-color: #e9ebea;
}

.height-80{
    height: 80px;
}

.my-d-flex{
    display: flex;
}

.mess-date{
    float: right;
    font-size: 10px;
    margin-top: 5px;
}






